.venv*
.venv/

node_modules/
package-lock.json
public/
cache/
build/

config/machines/

docs/modules/ROOT/pages/*
!docs/modules/ROOT/pages/index.adoc
!docs/modules/ROOT/pages/about.adoc
reports/

*.sif
tmp/
machine_config.json